@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 86, 86, 86;
  --background-end-rgb: 86, 86, 86;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 86, 86, 86;
    --background-end-rgb: 86, 86, 86;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  background:none;
  
  height: 10px;
  width: 5px;

}

::-webkit-scrollbar-thumb{

  background-color: #5b5b5b;
  width: 5px;
  border-radius: 5px;
  height: 3px;

}